body {
  background-color: #000;
  color: #fff;
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

h1, h2, h3 {
  font-family: "Rubik Burned", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
h1 {
  font-size: 100px;
}
h2 {
  font-size: 80px;
}
h3 {
  font-size: 60px;
}