body {
  background-color: #000;
  color: #fff;
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik Burned", system-ui;
  font-weight: 400;
  font-style: normal;
}
